/* OmniCut Colors 

darker: #1a1f1d;
client: #264c59;
vendor: #3696a2 
accent: #6b857e
pink: #eb857e
light: #dedbd0

*/

.generic-body-font {
    font-family: 'Open Sans', sans-serif;
}

.Hero-wrapper {
    background-color: #3696a2;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    
}
.Hero-body-text {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}
.Hero-header-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 7vh;
}

.Hero-wrapper2 {
    background-color: #264c59;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center; 
}
.Hero-header-text2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 7vh;

}

.btnText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: small;

}
